<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="nome" [class.is-invalid]="!nome.valid && nome.touched" id="nome"
        [(ngModel)]="usuario.nome" required #nome="ngModel">
      <div class="invalid-feedback" *ngIf="!nome.valid && nome.touched">
        <span>Nome é obrigatório</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" name="email" [class.is-invalid]="!email.valid && email.touched"
        id="email" [(ngModel)]="usuario.email" required email #email="ngModel">
      <div class="invalid-feedback" *ngIf="!email.valid && email.touched">
        <span>Email inválido</span>
      </div>
    </div>
  </div>
  <div class="form-row container">
    <div class="col-md-3 form-group">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" [class.is-invalid]="!cep.valid && cep.touched" ngModel
        required #cep="ngModel">
      <div class="invalid-feedback" *ngIf="!cep.valid && cep.touched">
        <span>CEP inválido</span>
      </div>
    </div>

    <div class="col-md-3 form-group">
      <label for="numero" class="control-label">Número</label>
      <input type="number" class="form-control" id="numero" name="numero"
        [class.is-invalid]="!numero.valid && numero.touched" ngModel required #numero="ngModel">
      <div class="invalid-feedback" *ngIf="!numero.valid && numero.touched">
        <span>Número inválido</span>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" name="complemento" ngModel #complemento="ngModel">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="rua">Rua</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="rua" [class.is-invalid]="!rua.valid && rua.touched" id="rua"
        [(ngModel)]="usuario.rua" readonly required #rua="ngModel">
      <div class="invalid-feedback" *ngIf="!rua.valid && rua.touched">
        <span>Rua é obrigatória</span>
      </div>
    </div>
  </div>
  <div class="form-row container">
    <div class="col-md-5 form-group">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="text" class="form-control" id="bairro" name="bairro" [class.is-invalid]="!bairro.valid && bairro.touched" ngModel
        required #bairro="ngModel">
      <div class="invalid-feedback" *ngIf="!bairro.valid && bairro.touched">
        <span>Bairro inválido</span>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" name="cidade"
        [class.is-invalid]="!cidade.valid && cidade.touched" ngModel required #cidade="ngModel">
      <div class="invalid-feedback" *ngIf="!cidade.valid && cidade.touched">
        <span>Cidade inválida</span>
      </div>
    </div>

    <div class="col-md-3 form-group">
      <label for="estado" class="control-label">Estado</label>
      <input type="text" class="form-control" id="estado" name="estado"
        [class.is-invalid]="!estado.valid && estado.touched" ngModel required #estado="ngModel">
      <div class="invalid-feedback" *ngIf="!estado.valid && estado.touched">
        <span>Estado inválido</span>
      </div>
    </div>
  </div>


  <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>