<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" id="nome" [ngClass]="aplicaCssErro('nome')">
      <div class="invalid-feedback" *ngIf="verificaValidTouched('nome')">
        <span>Nome é obrigatório</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" formControlName="email" id="email" email
        [ngClass]="aplicaCssErro('email')">
      <div class="invalid-feedback" *ngIf="verificaEmailInvalido()">
        <span>Email inválido</span>
      </div>
    </div>
  </div>
  <div formGroupName="endereco">
    <div class="form-row container">
      <div class="col-md-3 form-group">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" [ngClass]="aplicaCssErro('endereco.cep')"
          (blur)="consultaCEP()">
        <div class=" invalid-feedback" *ngIf="verificaValidTouched('endereco.cep')">
        <span>CEP é obrigatório</span>
      </div>
    </div>

    <div class="col-md-3 form-group">
      <label for="numero" class="control-label">Número</label>
      <input type="number" class="form-control" id="numero" formControlName="numero"
        [ngClass]="aplicaCssErro('endereco.numero')">
      <div class="invalid-feedback" *ngIf="verificaValidTouched('endereco.numero')">
        <span>Número é obrigatório</span>
      </div>
    </div>

    <div class="col-md-6 form-group">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" formControlName="complemento">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="rua">Rua</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="rua" formControlName="rua" [ngClass]="aplicaCssErro('endereco.rua')"
        id="rua">
      <div class="invalid-feedback" *ngIf="verificaValidTouched('endereco.rua')">
        <span>Rua é obrigatória</span>
      </div>
    </div>
  </div>
  <div class="form-row container">
    <div class="col-md-5 form-group">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="text" class="form-control" id="bairro" formControlName="bairro"
        [ngClass]="aplicaCssErro('endereco.bairro')">
      <div class="invalid-feedback" *ngIf="verificaValidTouched('endereco.bairro')">
        <span>Bairro é obrigatório</span>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" formControlName="cidade"
        [ngClass]="aplicaCssErro('endereco.cidade')">
      <div class="invalid-feedback" *ngIf="verificaValidTouched('endereco.cidade')">
        <span>Cidade é obrigatório</span>
      </div>
    </div>

    <div class="col-md-3 form-group">
      <label for="estado" class="control-label">Estado</label>
      <select class="form-control" id="estado" formControlName="estado"
        [ngClass]="aplicaCssErro('endereco.estado')">
        <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
      </select>
        <div class="invalid-feedback" *ngIf="verificaValidTouched('endereco.estado')">
          <span>Estado é obrigatório</span>
      </div>
    </div>
  </div>
  </div>

  <div class="form-row container">
    <div class="col-md-4 form-group">
      <label for="cargo" class="control-label">Cargo</label>
      <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="tecnologias" formControlName="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="newsletter" class="control-label">NewsLetter</label>
      <div id="newsletter" class="row">
        <div class="col-sm-4">
          <label class="radio-inline" *ngFor="let news of newsletterOptions">
            <input type="radio" [value]="news.valor" formControlName="newsletter" /> {{ news.desc }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-secondary" (click)="resetar()">Cancelar</button>
  <button type="button" class="btn btn-warning" (click)="setarCargo()">Setar cargo</button>
  <button type="button" class="btn btn-warning" (click)="setarTech()">Setar tecnologia</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>