<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text" 
              [value]="nome"
              (input)="nome = $event.target.value"
            />

            <input type="text" 
              [ngModel]="nome"
              (ngModelChange)="nome = $event"
            />

            <!-- Two way data binding é este -->
            <input type="text" [(ngModel)]="nome">

            <p>Você digitou: {{ nome }}</p>
        </div>

        <div>

            <input type="text" [(ngModel)]="pessoa.nome">

            <input type="text" [(ngModel)]="pessoa.idade">

            <p>Me chamo {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>

        </div>

    </article>
</section>